* {
  /* background-color: rgba(251, 250, 248); */
  /* padding-top: 3px; */

}

.header {
  background-color: beige;
  text-align: center;
  height: 100px;
}

/* // This applies from 0px to 600px */
@media (max-width: 600px) {
  body {
    background: red;
  }
}